[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
markdown = "*"
docopt = "*"
jinja2 = "*"
pyyaml = ">=4.2b1"
validate-email = "*"
jsonschema = "*"
progress = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
